:root {
    --text-light: #ffffff;
}
html {
    font-family: 'Open Sans', sans-serif;
}
.page-header {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;;
}
.categories {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    /* použijte auto-fit s šířkou sloupce minimálně 300px */
    padding: 1em;
    gap: 1em;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}
.categories__item {
    position: relative;
    color: inherit;
    border-radius: 8px;
    /* max-height: 80vh; */

}
.categories__item:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}

.categories__item-image:has(.categories__item:hover) {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.categories__item-image {
    filter: brightness(0.9) saturate(1) contrast(1);
}
.categories__item-description {
    padding: 1em;
    color: var(--text-light);

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
/* TODO */


/* Global */
.img-responsive {
    width: 100%;
    display: block;
    border-radius: 8px;
}
figure, h2 {
    margin: 0;
}
.heading {
    margin: 0.25em 0;
    font-weight: bold;
}
.heading--h1 {
    text-transform: uppercase;
    font-size: 2em;
    color: var(--text-light);

    background-image: url('../images/egypt-fullsize.jpg');
    background-size: cover;
}

.categories:has(figure:hover) figure:not(:hover) img{
    filter: blur(5px);
}

.categories:has(figure:hover) figure:hover .categories__item-description {
    position: absolute;
    bottom: 50%;
    left: 50%;
    text-align: center;
    transition: all 0.5s;
    transform: translate(-50%, 50%);
}
 
.categories:has(figure:hover) figure:hover .categories__item-image {    
    transition: all 10s;
}